@import url(keyframe.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --poppins-font: 'Poppins', sans-serif;
}

header,
section,
footer {
  overflow: hidden;
}

.loader-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loader{
  width: 50px;
  height: 50px;
  border: 3px solid goldenrod;
  border-top: transparent;
  border-radius: 50%;
  animation: loader 1.2s  linear infinite;
}

@keyframes loader {
  25%{
    border-color: rgb(84, 178, 34);
  }
  50%{
    border-color: royalblue;
  }
  75%{
    border-color: rgb(34, 178, 128);
  }
  to{
    transform: rotate(360deg);
  }
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px 0 30px 0;
  background: none;
  transition: all 0.5s;

  .navigation {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;

    .navigation-logo {
      padding-top: 20px;

      a {
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 800;
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .mobile-view-bar{
      display: none;
    }

    .navigation-menu {

      .navigation-menu-ul {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navigation-menu-li {
          margin: 25px 20px 0;

          a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #ffff;
            font-family: var(--poppins-font);
          }
        }
      }
    }

  }

}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 30px 50px rgb(0 0 0 / 5%);
  z-index: 99;

  .navigation {
    .navigation-logo {
      padding: 0;

      a {
        line-height: 60px;
        color: #111;
      }
    }

    .navigation-menu {
      .navigation-menu-ul {
        .navigation-menu-li {
          .menu-link {
            color: #111;
          }
        }
      }
    }
  }
}

// Banner-Section-Start //

.main-banner-container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .banner-overlay {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.661);
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-title {
      text-align: center;
      margin-top: 50px;

      h5 {
        font-size: 50px;
        line-height: 55px;
        font-weight: 800;
        color: #ffff;
        margin-bottom: 25px;

      }

      h1 {
        font-size: 60px;
        line-height: 50px;
        font-weight: 200;
        color: #ffff;

        span {
          b {
            font-weight: 400;
          }
        }
      }
    }

    .banner-socials {
      margin-top: 30px;

      a {
        span {
          display: inline-block;
          width: 35px;
          height: 35px;
          text-decoration: none;
          color: #ffff;
          background-color: rgba(0, 0, 0, 0.3);
          line-height: 35px;
          border-radius: 50%;
          font-size: 14px;
        }
      }
    }
  }
}


.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

// Banner-Section-End //


// About-Section-Start //

.about-section {
  padding: 100px 0 70px;

  .about-container {
    max-width: 1170px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;

    .about-image {
      width: 40%;
      padding: 0 0 30px 30px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      margin-bottom: 50px;

      img {
        width: 100%;
        height: 100%;
      }

    }

    .about-image::after {
      content: "";
      width: 80%;
      height: 80%;
      position: absolute;
      bottom: -30px;
      left: 0;
      background-image: url(../images/dots.png);
      background-repeat: repeat;
      z-index: -1;
    }

    .about-details {
      width: 60%;
      padding: 0 15px 0 30px;
      box-sizing: border-box;
      margin-bottom: 30px;

      h3 {
        font-size: 30px;
        line-height: 33px;
        font-weight: 800;
        color: #343434;
        margin-bottom: 5px;
      }

      span {
        font-size: 14px;
        line-height: 20px;
        font-family: var(--poppins-font);
        color: #999999;
        letter-spacing: 2px;
        margin-bottom: 20px;
        display: inline-block;
        text-transform: uppercase;
        cursor: default;
      }

      p {
        font-size: 15px;
        line-height: 1.6;
        color: #748182;
        font-family: var(--poppins-font);
        cursor: default;

      }

      .progress-bar {
        margin-top: 30px;
        margin-bottom: 55px;

        .items {
          margin-bottom: 30px;

          .skills-progress {
            width: 100%;
            background: #f7f7f7;
            padding: 2px 10px;
            box-sizing: border-box;
            border-radius: 5px;
            box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
            position: relative;

            h6 {
              font-size: 13px;
              font-weight: 500;
              color: #fff;
              position: relative;
              z-index: 2;
              line-height: 14px;
              display: inline-block;
            }

            p {
              display: inline-block;
              margin: 0;
              font-size: 12px;
              color: #fff;
              z-index: 1;
              position: absolute;
              right: 10px;
            }

            .number-95{
              right: 6.5%;
            }

            .number-80 {
              right: 21.5%;
            }

            .number-90 {
              right: 11.5%;
            }

            span {
              position: absolute;
              top: 0;
              left: 0;
              width: 95%;
              height: 100%;
              background-color: #1c1c1c;
              border-radius: 5px;

            }

            .width-95 {
              width: 95%;
              animation-name: progressbar-1;
              animation-duration: 1s;
            }

            .width-80 {
              width: 80%;
              animation-name: progressbar-2;
              animation-duration: 1s;
            }

            .width-90 {
              width: 90%;
              animation-name: progressbar-3;
              animation-duration: 1s;
            }
          }
        }
      }

      .about-button {
        .button-1 {
          text-decoration: none;
          background: #1c1c1c;
          color: #eee;
          padding: 10px 30px;
          border: 1px solid #1c1c1c;
          border-radius: 5px;
          font-size: 13px;
          transition: all 0.5s;
          font-family: var(--poppins-font);
        }

        .button-1:hover {
          background-color: transparent;
          color: inherit;
        }

        .button-2 {
          text-decoration: none;
          color: inherit;
          padding: 10px 30px;
          border: 1px solid #1c1c1c;
          border-radius: 5px;
          font-size: 13px;
          transition: all 0.5s;
          font-family: var(--poppins-font);
        }

        .button-2:hover {
          background-color: #1c1c1c;
          color: #eee;
        }
      }
    }
  }
}

// About-Section-End //

// Services-Section-Start //

.services-section {
  padding: 100px 0 70px;
  background: #f7f7f7;

  .services-container {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;

    .services-container-title {
      margin-bottom: 80px;
      text-align: center;

      h3 {
        font-size: 40px;
        font-weight: 900;
        position: relative;
        z-index: 4;
        display: inline-block;
      }

    }

    .services-container-title h3::after {
      content: "";
      width: 100%;
      height: 30px;
      background-image: url(/images/dots.png);
      background-repeat: repeat;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: -1;
    }

    .services-container-wrapper {
      display: flex;
      flex-wrap: wrap;

      .services-wrapper-items {
        width: 33.33%;
        padding: 0 15px;

        .services-items {
          padding: 50px 20px;
          background: #fff;
          box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 10%);
          margin-bottom: 30px;
          border-radius: 5px;
          text-align: center;

          .services-icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            background-color: #f4f4f4;
            border-radius: 50%;
            display: inline-block;
            font-size: 25px;
            margin-bottom: 20px;
            transition: all 0.5s;

          }

          .services-details {
            h6 {
              font-size: 18px;
              font-weight: 800;
              margin-bottom: 15px;
            }

            p {
              font-size: 14px;
              word-spacing: 2px;
              line-height: 1.6;
              color: #748182;
              font-family: var(--poppins-font);
            }
          }
        }
      }

      .services-items:hover .services-icon {
        background: #1c1c1c;
        color: #eee;
      }
    }

  }
}

// Services-Section-End //

// Portfolio-Section-Start//

.portfolio-section {
  padding: 100px 0 70px;

  .portfolio-container {
    width: 1170px;
    margin: 0 auto;

    .portfolio-container-title {
      margin-bottom: 80px;
      text-align: center;

      h3 {
        font-size: 40px;
        font-weight: 900;
        position: relative;
        z-index: 4;
        display: inline-block;
      }

    }

    .portfolio-container-title h3::after {
      content: "";
      width: 100%;
      height: 30px;
      background-image: url(/images/dots.png);
      background-repeat: repeat;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: -1;
    }

    .portfolio-tabbing {
      margin-bottom: 50px;

      .tabbing-ul {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .tabbing-li {
          margin: 0 15px;

          a {
            text-decoration: none;
            color: #222;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            position: relative;
          }

          .active::before {
            content: "";
            width: 95%;
            height: 2px;
            background-color: #111;
            position: absolute;
            left: 0;
            bottom: -10px;
          }
        }
      }
    }

    .portfolio-container-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .portfolio-wrapper-item {
        width: 33.33%;
        padding: 0 15px;
        margin-bottom: 30px;
        box-sizing: border-box;

        .portfolio-items {
          position: relative;

          img {
            width: 100%;
            height: 100%;
            display: block;
          }

          .item-img-overlay {
            display: block;
            background-color: rgba(255, 255, 255, 0.95);
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            visibility: hidden;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(10px);
            transition: all 0.5s;
          }

          .item-details {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h6 {
              font-size: 12px;
              font-weight: 700;
              letter-spacing: 2px;
              margin-bottom: 15px;
              transition: all 0.5s;
              transform: translateY(-15px);
            }

            .item-icon {
              text-align: center;

              a {
                text-decoration: none;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50px;
                border: 1px solid #111;
                background-color: #111;
                color: #eee;
                display: inline-block;
                font-size: 12px;
              }

              a:hover {
                background-color: transparent;
                color: #000;
              }
            }
          }
        }

        .portfolio-items:hover .item-img-overlay {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }

        .portfolio-items:hover .item-details h6 {
          transform: translateY(0);
        }
      }

    }
  }
}

// Portfolio-Section-End//

// Testimonial-Section-Start //

.testimonial-section {
  padding: 100px 0 70px;
  background-color: #f7f7f7;

  .testimonial-container {
    width: 1170px;
    margin: 0 auto;

    .testimonial-container-title {
      margin-bottom: 80px;
      text-align: center;

      h3 {
        font-size: 40px;
        font-weight: 900;
        position: relative;
        z-index: 4;
        display: inline-block;
      }
    }

    .testimonial-container-title h3::after {
      content: "";
      width: 100%;
      height: 30px;
      background-image: url(/images/dots.png);
      background-repeat: repeat;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: -1;
    }

    .testimonial-container-wrapper {
      text-align: center;

      .testimonial-wrapper-item {
        width: 100%;

        .testimonial-item-img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto 15px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        p {
          line-height: 1.6;
          margin: 0;
          font-size: 15px;
          color: #748182;
          font-family: var(--poppins-font);
          padding: 0 85px;
        }

        h6 {
          font-size: 16px;
          font-weight: 600;
          margin: 30px 0 5px;
          color: rgb(52, 52, 52);
        }

        span {
          font-size: 12px;
          font-weight: 600;
          color: #888;
          margin-bottom: 30px;
          font-family: var(--poppins-font);
        }
      }

      .owl-stage-outer {
        margin-bottom: 25px;
      }

      button.owl-prev {
        margin-right: 20px;
      }
    }
  }
}

// Testimonial-Section-End //

// Counter-Section-Start //

.counter-section {
  padding: 100px;

  .counter-container {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;

    .counter-container-wrapper {
      display: flex;
      align-items: center;

      .counter-wrapper-item {
        width: 25%;
        text-align: center;

        span {
          font-size: 30px;
          margin-bottom: 15px;
          display: inline-block;
          color: #343434;
        }

        h1 {
          font-size: 30px;
          font-weight: 900;
          margin-bottom: 15px;
          color: #343434;
        }

        p {
          font-weight: 600;
          margin-bottom: 30px;
          line-height: 1.6;
          margin: 0;
          font-size: 15px;
          color: #748182;
          font-family: var(--poppins-font);
        }
      }
    }
  }
}

// Counter-Section-End //

// Blog-Section-Start //

.blog-section {
  padding: 100px 0;
  background-color: #f7f7f7;

  .blog-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    .blog-container-title {
      margin-bottom: 80px;
      text-align: center;

      h3 {
        font-size: 40px;
        font-weight: 900;
        position: relative;
        z-index: 4;
        display: inline-block;
      }
    }

    .blog-container-title h3::after {
      content: "";
      width: 100%;
      height: 30px;
      background-image: url(/images/dots.png);
      background-repeat: repeat;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: -1;
    }


    .blog-container-wrapper {
      display: flex;
      flex-wrap: wrap;

      .blog-wrapper-item {
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 10%);
        overflow: hidden;

        .blog-img {
          transition: all 0.5s;

          img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }

        .blog-img:hover {
          transform: scale(1.15);
        }

        .blog-details {
          background: #fff;
          padding: 30px 15px;
          position: relative;

          h6 {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 10px;

            a {
              text-decoration: none;
              color: #888;
            }
          }

          h4 {
            font-weight: 800;
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 15px;

            a {
              text-decoration: none;
              color: inherit;
            }
          }

          .blog-link {
            text-decoration: none;
            border-bottom: 2px solid #333;
            color: inherit;
            font-family: var(--poppins-font);
            font-size: 14px;
          }
        }
      }
    }
  }
}

// Blog-Section-End //

// Contact-Section-Start //

.contact-section {
  padding: 100px 0;

  .contact-container {
    width: 945px;
    margin: 0 auto;

    .contact-container-title {
      margin-bottom: 80px;
      text-align: center;

      h3 {
        font-size: 40px;
        font-weight: 900;
        position: relative;
        z-index: 4;
        display: inline-block;
      }
    }

    .contact-container-title h3::after {
      content: "";
      width: 100%;
      height: 30px;
      background-image: url(/images/dots.png);
      background-repeat: repeat;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: -1;
    }



    .contact-conatainer-wrapper {
      display: flex;
      text-align: center;
      margin-bottom: 50px;

      .contact-wrapper-item {
        width: 33.33%;
        padding: 0 15px;
        box-sizing: border-box;
        margin-bottom: 30px;
        cursor: pointer;

        .contact-icon {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 25px;
          margin-bottom: 15px;
          border-radius: 50%;
          background: #eee;
          color: 1c1c1c;
          transition: all 0.5s;
          display: inline-block;
        }

        h6 {
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 16px;
          color: inherit;
        }

        p {
          line-height: 1.6;
          margin: 0;
          font-size: 15px;
          color: #748182;
          font-family: var(--poppins-font);
        }

      }

      .contact-wrapper-item:hover .contact-icon {
        background: #1c1c1c;
        color: #eee;
      }
    }

    .form {
      .first-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        .input-name {
          width: 50%;
          padding-right: 15px;
          box-sizing: border-box;
        }

        .input-email {
          width: 50%;
          padding-left: 15px;
          box-sizing: border-box;
        }

        input {
          width: 100%;
          border: 0;
          border-radius: 5px;
          outline: none;
          padding: 10px;
          background-color: #f4f4f4;
          font-size: 14px;
          line-height: inherit;
          font-family: var(--poppins-font);
        }
      }

      .second-row {
        box-sizing: border-box;
        margin-bottom: 15px;

        textarea {
          width: 100%;
          height: 160px;
          padding: 10px;
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: #f4f4f4;
          font-size: 14px;
          font-family: var(--poppins-font);
        }
      }

      .submit-button {
        input[type=submit] {
          padding: 10px 40px;
          background: #1c1c1c;
          color: #eee;
          cursor: pointer;
          font-family: var(--poppins-font);
          border: 1px solid #1c1c1c;
          border-radius: 5px;
          transition: all 0.5s;
        }
      }

      .submit-button:hover input[type=submit] {
        background: transparent;
        color: #343434
      }
    }
  }
}

// Contact-Section-End //

// Footer-Section-Start //

.footer-section {
  padding-top: 100px;
  background: #1c1c1c;
  padding: 30px;

  .footer-container {
    width: 1170px;
    margin: 0 auto;

    .footer-row {
      text-align: center;
      margin: 0 15px;

      .copy-right {
        font-size: 13px;
        word-spacing: 2px;
        line-height: 1.6;
        color: #748182;
        margin: 0;
        font-family: var(--poppins-font);
      }
    }

  }
}

// Footer-Section-End //